@model proyecto.Models.Usuarios
@{
    ViewData["Title"] = "Login";
}

<div>
    <h1 class="display-4 text-center">Hola @Html.Raw(ViewBag.usuario)</h1>
    <h2 class="text-center">Haga click en el menu de arriba para ver algo.</h2>
    </div>


@section itemsDelMenu {
    
    <div style="position:absolute; right:0;">
        <li class="nav-item">
            <form asp-controller="Home" asp-action="Logout" method="post">
                <span>@Html.Raw(ViewBag.usuario)</span>
                <button class="btn btn-danger">Cerrar Sesion</button>
            </form>
        </li>
    </div>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NuevaOrden">Nueva Orden</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="VerOrdenes">Ver Ordenes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Clientes">Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Estadisticas">Estadisticas</a>
    </li>

}

@*  END ----  LOGIN PAGE   *@